<header>
  <nav>
    <a class="logo" href="../pages/index.html">Ing. Jhedrick</a>
    <div class="nav-links">
      <a href="../pages/index.html">Inicio</a>
      <a href="../pages/sobre-mi.html">Sobre mí</a>
      <a href="../pages/competencias.html">Competencias</a>
      <a href="../pages/experiencia.html">Experiencia</a>
      <a href="../pages/portafolio.html">Proyectos</a>
      <a href="../pages/contacto.html">Contacto</a>
    </div>
    <a href="../pages/contacto.html" class="button">Solicita una consulta</a>
  </nav>
</header> 